body{
    margin:1%;
    background-image: url("../resource/background.png");
    background-size: cover;
    
}


@font-face {
    font-family: Snowy Night;
    src: url("../resource/snowy_night.ttf");
  }


h1{
   
    font-size: 200%;
    padding: 4%;
    font-family: Snowy Night;
    color: maroon;
    text-align: center;
    border-color: black;
    animation-name: cambio;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}
@keyframes cambio {
    0%{color:maroon}
    20%{color:green}
    50%{color:white}
    75%{color:red}
    100%{color:maroon}
    
    
    
}



.pass{
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    text-decoration:none;
    padding: 3% 3%;
    border-style: groove;
    font-size: 150%;
    display:inline-block ;
    
    
    
}
.email{
   font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    text-decoration:none;
    padding: 3% 3%;
    border-style: groove;
    font-size: 150%;
    display:inline-block ;
    
}
.ingresar{
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    text-decoration:none;
    padding: 3% 3%;
    border-style: groove;
    font-size: 150%;
    display:inline-block ;
    
}
a .ingresar:hover{
        border-color: black;
        color:red;
        cursor: pointer;
        background-color: #32AF50;
}
#error{     
    font-family: Snowy Night;    
    color: red;
    text-shadow: -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white;
}