body{
    
    background-image: url("../resource/background.png");
    background-size: cover;
    
}


@font-face {
    font-family: Snowy Night;
    src: url(../resource/snowy_night.ttf);
  }


.h1{
   
   
    font-family: Snowy Night;
    font-size: 250%;
    
    color: maroon;
    text-align: center;
    border-color: black;
    margin: 1%;
    animation-name: cambio;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}
@keyframes cambio {
    0%{color:maroon}
    20%{color:green}
    50%{color:white}
    75%{color:red}
    100%{color:maroon}
    
    
    
}



.nombre{
    
    
    position:fixed;
    overflow:auto;
    width: 20%;
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    padding: 0.7% 0.7%;
    align-items: center;
    border: 20%;
    text-align: center;
    text-decoration: none;
    left:37%;
    top:5%;
    
    font-size: 200%;
   
    
    
}
.apellido{
    width: 20%;
    position:fixed;
    overflow:auto;
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    padding: 0.7% 0.7%;
    align-items: center;
    border: 20%;
    text-align: center;
    text-decoration: none;
    
    left:37%;
    top:22%;
    font-size: 200%;
    
}
.email{
    width: 20%;
    position:fixed;
    overflow:auto;
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    padding: 0.7% 0.7%;
    align-items: center;
    border: 20%;
    
    text-decoration: none;
    text-align: center;
    top:39%;
    left: 37%;
    font-size: 200%;
    
}
.contraseña{
    width: 20%;
    position:fixed;
    overflow:auto;
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    padding: 0.7% 0.7%;
    align-items: center;
    border: 20%;
    
    text-decoration: none;
    text-align: center;
    top:56%;
    left: 37%;
    font-size: 200%;
    
}
.repetir{
    width: 20%;
    position:fixed;
    overflow:auto;
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    padding: 0.7% 0.7%;
    align-items: center;
    border: 20%;
    
    text-decoration: none;
    text-align: center;
    top:73%;
    left: 37%;
    font-size: 200%;
    
}
.boton{
width: 20%;
    position:fixed;
    overflow:auto;
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    padding: 0.7% 0.7%;
    align-items: center;
    border: 20%;
    
    text-decoration: none;
    text-align: center;
    top:89%;
    left: 37.5%;
    font-size: 200%;
}
#error{
    width: 20%;
    position:fixed;
    overflow:auto;
    font-family: Snowy Night;
    color: red;
    border: #4CAF50;
    
    padding: 0.7% 0.7%;
    align-items: center;
    border: 20%;
    text-align: center;
    text-decoration: none;
    
    top:0%;
    left: 37%;
    font-size: 100%;
}