body{
    
    background-image: url("../resource/background.png");
    background-size: cover;
    
}


@font-face {
    font-family: Snowy Night;
    src: url(../resource/snowy_night.ttf);
  }


.h1{
   
    text-decoration: none;
    font-family: Snowy Night;
    font-size: 250%;    
    color: maroon;
    text-align: center;
    border-color: black;
    margin: 1%;
    animation-name: cambio;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}
@keyframes cambio {
    0%{color:maroon}
    20%{color:green}
    50%{color:white}
    75%{color:red}
    100%{color:maroon}
    
    
    
}


.listado{
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    outline-style: none;
    border: none;
    overflow-y: hidden;
    text-decoration:none;
    padding: 3% 3%;
    border-style: groove;
    font-size: 150%;
    display:inline-block ;
}
.nombre{
   font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    text-decoration:none;
    padding: 3% 3%;
    border-style: groove;
    font-size: 150%;
    display:inline-block ;
}
.apellido{
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    text-decoration:none;
    padding: 3% 3%;
    border-style: groove;
    font-size: 150%;
    display:inline-block ;
    
}
.email{
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    text-decoration:none;
    padding: 3% 3%;
    border-style: groove;
    font-size: 150%;
    display:inline-block ;
}
.contraseña{
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    text-decoration:none;
    padding: 3% 3%;
    border-style: groove;
    font-size: 150%;
    display:inline-block ;
}
.repetir{
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    text-decoration:none;
    padding: 3% 3%;
    border-style: groove;
    font-size: 150%;
    display:inline-block ;
}
.boton{
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    text-decoration:none;
    padding: 2% 2%;
    border-style: groove;
    font-size: 200%;
    display:inline-block ;
}
.boton:hover{
        border-color: black;
        color:red;
        cursor: pointer;
        background-color: #32AF50;
}
#error{     
    font-family: Snowy Night;    
    color: red;
    text-shadow: -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white;
}