body{
    margin:1%;
    background-image: url("../resource/background.png");
    background-size: cover;
}

@font-face {
    font-family: Snowy Night;
    src: url("../resource/snowy_night.ttf");
  }


h1{
    padding: 2%;
    font-family: Snowy Night;
    color: maroon;
    text-align: center;
    border-color: black;
    animation-name: cambio;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
@keyframes cambio {
    0%{color:maroon}
    20%{color:green}
    50%{color:white}
    75%{color:red}
    100%{color:maroon}
}
a{
    font-family: Snowy Night;
    background-color: #4CAF50;
    color: white;
    padding:0.5%;
    text-decoration:none;
    border-style: groove;
}
.nivel{
    font-family: Snowy Night;
    color: #B8860B;
    text-align: center;
    border-color: black;
    animation-name: nivel;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
@keyframes nivel{
    0%{color:rgb(218,165,32)}
    20%{color:rgb(255,215,0)}
    50%{color:rgb(212,175,55)}
    75%{color:rgb(207,181,59)}
    100%{color:rgb(197,179,88)}
}
a{
    border-radius: 20px;
    font-family: Snowy Night;
    background-color: #4CAF50;
    color: white;
    padding:0.5%;
    text-decoration:none;
    border-style: groove;
    border-color: #B8860B;
}
a:hover{
        border-color: rgb(218,165,32);
        color:rgb(212, 0, 0);
        cursor: pointer;
        background-color: rgb(197,179,88);
}