body{
    background-image: url("../resource/background.png");
    background-size: cover;
}

@font-face {
    font-family: Snowy Night;
    src: url(../resource/snowy_night.ttf);
  }
.disponible{
    width: 100%;
    height: 100%;
    
    inline-size: center;
    font-family: Snowy Night;
    font-size: 250%;
    left: 0%;
    top:60%;
    color: maroon;
    text-align: center;
    border-color: black;
    margin: 1%;
    animation-name: cambio;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}


@keyframes cambio {
    0%{color:maroon}
    20%{color:green}
    50%{color:white}
    75%{color:red}
    100%{color:maroon}
    
    
    
}
.bienvenida{
    font-family: Snowy Night;
    font-size: 250%;
    color: maroon;
    border-color: black;
    margin: 1%;
    animation-name: cambio;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    text-align: center;
}