body{
    
    background-image: url("../resource/background.png");
    background-size: cover;
    
}
.contenedor{
    width: 100%;
    height: 100%;
    overflow:visible;
    position: fixed;
    
    
}

@font-face {
    font-family: Snowy Night;
    src: url(../resource/snowy_night.ttf);
  }


.h1{
    width: 100%;
    height: 100%;
    position:fixed;
    overflow:visible;
    inline-size: center;
    font-family: Snowy Night;
    font-size: 250%;
    left: 0%;
    top:60%;
    color: maroon;
    text-align: center;
    border-color: black;
    margin: 1%;
    animation-name: cambio;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}
@keyframes cambio {
    0%{color:maroon}
    20%{color:green}
    50%{color:white}
    75%{color:red}
    100%{color:maroon}
    
    
    
}

.title{
    
    position:fixed;
    overflow:visible;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    left: 0%;
    top: 5%;
    
    
	
    
}

.register_button{
    width: 20%;
    position:fixed;
    overflow:auto;
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    padding: 0.7% 0.7%;
    align-items: center;
    border: 20%;
    text-align: center;
    text-decoration: none;
    
    top:20%;
    font-size: 260%;
    left: 20%;
   
    
    
}
.login_button{
    width: 20%;
    position:fixed;
    overflow:auto;
    font-family: Snowy Night;
    background-color: #4CAF50;
    border-radius: 50% 50% 50% 50%;
    color: white;
    padding: 0.7% 0.7%;
    align-items: center;
    border: 20%;
    text-align: center;
    text-decoration: none;
    
    top:80%;
    right: 20%;
    font-size: 260%;
    
}