<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimun-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static", filename="css/bootstrap.min.css")}}">
    <title>Entrena en casa</title>
    <link rel="icon" href="{{url_for("static", filename="resource/shortcut_icon.png")}}">
    <link rel="stylesheet" href="{{url_for("static", filename="css/inicio.css")}}">
    
</head>
<div class="container">
    <div class="row">
        <h1 class="col bienvenida" >Bienvenid@ {{nombre}}<br>A </h1>
    </div>    
    <div class="row align-items-end">
     <div class="col text-center"><img src="{{url_for("static", filename="resource/title.png")}}" class="img-fluid" ></div>   
    </div>
    <div class='row'>
        <div class='col-4'>
            <div class='div text-center' href="register">
                <a href="boxeo">
                    <h1>Boxeo</h1>
                    <video width="320" height="240" controls>
                        <source src="{{url_for("static", filename="resource/boxeo.mp4")}}" type="video/mp4">
                    
                    Your browser does not support the video tag.
                    </video>
                    <p>Aprende todos los movimientos del boxeo y conviertete en un boxeador.</p>
                </a>
                </div>
            
        </div>
        <div class='col-4'>
            <div class='div text-center'>
                <a href="kick-boxing">
                    <h1>Kick Boxing</h1>
                    <video width="320" height="240" controls>
                        <source src="{{url_for("static", filename="resource/kickboxing.mp4")}}" type="video/mp4">
                    
                        Your browser does not support the video tag.
                    </video>
                    <p>Aprende todos los movimientos del Kick Boxing y conviertete en un kick-boxer.</p>
                </a>
            </div>
        </div>
        <div class='col-4'>
            <div class='div text-center'>
                <a href="muay-thai">
                    <h1>Muay Thai</h1>
                    <video width="320" height="240" controls>
                        <source src="{{url_for("static", filename="resource/muay-thai.mp4")}}" type="video/mp4">
                    
                        Your browser does not support the video tag.
                    </video>
                    <p>Aprende todos los movimientos del Muay Thai y conviertete en un luchador del Muay Thai.</p>
                
                </a>                
            </div>
        </div>
    </div>
    <div class="row">
        <h1 class="col disponible">Proximamente Disponible MMA</h1>
    </div>

</div>

<script>src='../static/js/jquery.js'</script>
<script>src='../static/js/bootstrap.min.js'</script>
</head>
<body>
    
</body>
</html>
