<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrena en casa</title>
    <link rel="icon" href="{{url_for("static", filename="resource/shortcut_icon.png")}}">
    <link rel="stylesheet" href="{{url_for("static", filename="css/css.css")}}">

</head>
<body>
    <div class="title">
        <img src="{{url_for("static", filename="resource/title.png")}}" >
    </div>
    <p>"Conviertete en un maestro de las artes marciales"</p>
    <a class="register_button" href="register">Crear cuenta</a>
    <a class="login_button" href="login">Iniciar sesión</a>
</body>
</html>