<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimun-scale=1.0">

    <title>Entrena en casa</title>
    <link rel="icon" href="{{url_for("static", filename="resource/shortcut_icon.png")}}">
    <link rel="stylesheet" href="{{url_for("static", filename="css/css.css")}}">
    
</head>
<body>
    <section class="contenedor">
        <div class="title"><img src="{{url_for("static", filename="resource/title.png")}}"  ></div>
        <div class="h1"><h1>"Conviertete en un maestro de las artes marciales"</h1></div>
        <div class="register_button"><a href="register">Crear cuenta</a></div>
        <div class="login_button" href="login"><a>Iniciar sesión</a></div>
    
    </section>
    
    
</body>
</html>